html,
body {
    overscroll-behavior: contain;
}

#outro > div {
    transition: opacity 1s ease-out;
    z-index: 1;
    position: fixed;
    margin-left: 1rem;
    font-family: sans-serif;
}

#outro > div,
#intro {
    opacity: 0;
    transition: opacity 1s ease-out;
    z-index: 1;
}

#outro.visible > div,
#intro.visible {
    opacity: 1;
}

a {
    color: #3466bf;
    text-decoration: none;
}

div > p:first-child {
    font-size: 1.75rem;
    line-height: 0;
    color: #d8cf25;
    font-family: MyWebFont;
    text-shadow: 2px 2px black;
}

#controls {
    bottom: 0;
}

#loader {
    z-index: 2;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#loaderWrapper {
    width: 400px;
    height: 18px;
    overflow: hidden;
    background-color: #d8cf25;
    position: relative;
}

#progress {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-family: MyWebFont;
    transition: transform 0.3s ease-out;
}

#loader .info h1 {
    font-family: MyWebFont;
    font-size: 4rem;
    color: #d8cf25;
}

#loader .info h2 {
    color: white;
    font-family: Pacifico;
    font-size: 2.5rem;
}

#loader .background {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

#one {
    clip-path: polygon(0% 0%, 0% 100%, 100% 0%);
    background-color: rgb(40, 40, 40);
    transition: clip-path 3s ease-out;
}

#two {
    clip-path: polygon(100% 100%, 0% 100%, 100% 0%);
    background-color: rgb(40, 40, 40);
    transition: clip-path 3s ease-out;
}

#loader.finished {
    /* opacity: 0; */
    pointer-events: none;
}

#loader.finished #one {
    clip-path: polygon(0% 0%, 0% 0%, 0% 0%);
}

#loader.finished #two {
    clip-path: polygon(100% 100%, 100% 100%, 100% 100%);
}

#intro {
    pointer-events: none;
    position: fixed;
    bottom: 0;
    left: 50%;
    display: flex;
    text-align: center;
    z-index: 1;
    transform: translateX(-50%);
}
#intro div {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #919191;
    font-family: Pacifico;
    font-size: 1.5rem;
    width: 200px;
    margin: 0 1rem;
}

/* BOUNCY THINGS */

#BT933373f8-7a3e-41c9-8b18-4d309b886397 {
    width: 100px;
    height: 200px;
    stroke: #dddddd;
    stroke-width: 15px;
    opacity: 1;
    transform-origin: 50% 50%;
    y: 50px;
    fill: #919191;
    animation: 3s BT933373f8-7a3e-41c9-8b18-4d309b886397 1000ms infinite;
}

@keyframes BT933373f8-7a3e-41c9-8b18-4d309b886397 {
    0% {
        transform: translateX(25px);
    }

    50% {
        transform: translateX(75px);
    }

    100% {
        transform: translateX(25px);
    }
}

#BT3d244ad9-c41f-4803-9aa2-6260cdae9461 {
    r: 10px;
    stroke: #dddddd;
    stroke-width: 0px;
    opacity: 1;
    transform-origin: 50% 50%;
    cy: 100px;
    fill: #dddddd;
    animation: 3s BT3d244ad9-c41f-4803-9aa2-6260cdae9461 1000ms infinite;
}

@keyframes BT3d244ad9-c41f-4803-9aa2-6260cdae9461 {
    0% {
        transform: translateX(75px);
    }

    50% {
        transform: translateX(125px);
    }

    100% {
        transform: translateX(75px);
    }
}

#BT933373f8-7a3e-41c9-8b18-4d309b886398 {
    width: 100px;
    height: 200px;
    stroke: #dddddd;
    stroke-width: 15px;
    opacity: 1;
    transform: ;
    transform-origin: 50% 50%;
    x: 50px;
    y: 50px;
    fill: #919191;
}

#BT3d244ad9-c41f-4803-9aa2-6260cdae9462 {
    r: 10px;
    stroke: #dddddd;
    stroke-width: 0px;
    transform-origin: 50% 50%;
    cx: 100px;
    fill: #dddddd;
    animation: 1.5s BT3d244ad9-c41f-4803-9aa2-6260cdae9462 1000ms infinite;
}

@keyframes BT3d244ad9-c41f-4803-9aa2-6260cdae9462 {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    50% {
        opacity: 1;
        transform: translateY(150px);
    }

    100% {
        opacity: 0;
        transform: translateY(150px);
    }
}

@media (max-width: 30em) {
    #loader .info h1 {
        font-size: 2rem;
    }
    #loader .info h2 {
        font-size: 1.5rem;
    }
    #loaderWrapper {
        width: 200px;
    }
    #intro > div:nth-child(2) {
        display: none;
    }
    #BT3d244ad9-c41f-4803-9aa2-6260cdae9462 {
        animation: 1.5s BT3d244ad9-c41f-4803-9aa2-6260cdae9462 1000ms infinite
            reverse;
    }
}
